<div class="col-md-8 card">
        
  <div class="head">
      <h3>Repositories</h3>
  </div>
  <div  *ngFor="let repo of repos ">
      <h3>
          <strong>Name:</strong>{{repo.name}} 
          <br>
          <a href="{{repo.html_url}} " target="_blank " class="btn btn-md btn-info pull-right ">Github</a>
      </h3>
      <p style="font-size: 20px; "> <strong>Description:</strong> {{repo.description}}</p>
      <ul>
          <li style=" font-size: 20px; float: left; ">
              {{repo.language}}
          </li>
      </ul>
  </div>
</div>
