.col-md-8{
    margin-left: 180px;
}
.card  p{
    font-family: sans-serif;
    font-weight: bold;
    text-align: center;
    font-size: 34px;
    color: darkturquoise;
}

.card img {
    
    padding-left: 100px;
    padding-right: 100px;
    
}

.card h4 {
    
    padding-left: 100px;
    padding-right: 80px;
    
}